In [23]:
import pandas as pd

series = pd.Series(['a', 'b', 'c'])
series.index = ['x', 'y', 'z']
print(series)

df = pd.DataFrame([
    ['佐藤', 170, 60],
    ['田中', 160, 50],
    ['鈴木', 165, 58]
])
df.columns = ['name', 'height', 'weight']
df

x    a
y    b
z    c
dtype: object

  name  height  weight
0   佐藤     170      60
1   田中     160      50
2   鈴木     165      58