In [32]:
import datetime
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

df1 = pd.read_csv("source/toden-juyo-2016.csv",
                  names=("date", "time", "value"))
df2 = pd.read_csv("source/toden-juyo-2017.csv",
                  names=("date", "time", "value"))

for i, row in df1.iterrows():
    date = datetime.datetime.strptime(row["date"], "%Y/%m/%d")
    time = datetime.datetime.strptime(row["time"], "%H:%M")
    df1.at[i, "weekday"] = date.weekday()
    df1.at[i, "hour"] = time.hour

for i, row in df2.iterrows():
    date = datetime.datetime.strptime(row["date"], "%Y/%m/%d")
    time = datetime.datetime.strptime(row["time"], "%H:%M")
    df2.at[i, "weekday"] = date.weekday()
    df2.at[i, "hour"] = time.hour

train_x = df1.drop(["value", "date", "time"], axis=1)
train_y = df1["value"]
test_x = df2.drop(["value", "date", "time"], axis=1)
test_y = df2["value"]

clf = RandomForestClassifier(max_depth=30, n_estimators=30, random_state=42)
clf.fit(train_x, train_y)

pred_y = clf.predict(test_x)
df = pd.DataFrame()
df["test_y"] = test_y
df["pred_y"] = pred_y

accuracy_score(test_y, pred_y)

      test_y  pred_y
0       2783    2313
1       2634    2212
2       2520    2228
3       2438    2268
4       2389    2214
...      ...     ...
8755    3527    3332
8756    3443    2859
8757    3335    3575
8758    3200    2588
8759    3141    2942

[8760 rows x 2 columns]